<form id="upload" method="POST" action='/albums/publish' enctype="multipart/form-data">
<input type="file" name="image1"><br />
<button name="add_file">Add another photo!</button><br />
<input type="submit" value="GO GREASED LIGHTNING">
</form>
